@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-content > *:not(:last-child) {
  margin-bottom: 20px;
}

.blog-content img {
  max-width: 80%;
  position: relative;
  margin: 40px auto;
}
